.columns-wrapper {
    display: flex;
    margin-right: 10px;
    min-height: 600px;
}

.column-wrapper{
    width: 25%;
    background-color: #F7F7F7;
    border: 2px dashed #A6A6A6;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    height: auto;
}

.column-wrapper:first-child {
    margin-left: 0;
}

.column-wrapper:last-child{
    margin-right: 0;
}