<div class="header-editor">
    
    <ul>
        <li class="brand">
            <img src="img/logo.svg" alt="logo" />
        </li>
        <li>
            <FormButton Type="ButtonType.PrimaryLink" />
        </li>
    </ul>
    
</div>


@code {
    
}