@using GingerTurtle.Design.Constants
<div class="columns-wrapper">
    
    <div class="column-wrapper">
        <div class="bottom">
            <Row>
                <Column Layout="ElementPosition.Centre"
                        DesktopSize="ColumnSize.Col100"
                        MobileSize="ColumnSize.Col100">
                    <FormButton Text="Add Group"
                                Type="ButtonType.Secondary"
                                IconUrl="@ImageUrls.Add"/>
                </Column>
            </Row>
        </div>
    </div>

    <div class="column-wrapper">

    </div>

    <div class="column-wrapper">

    </div>

    <div class="column-wrapper">

    </div>
    
</div>

@code {
    
}