
<div class="panel-wrapper">
    <div class="panel-header">
        <div class="panel-content">
            @PanelHeader
        </div>
    </div>

    @ChildContent

</div>

@code {
    
    [Parameter]
    public string PanelHeader { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}