
<Row>
    <Column DesktopSize="ColumnSize.ColAuto"
            MobileSize="ColumnSize.ColGrow">
        <h3>
            @Text
        </h3>
    </Column>
    <Column DesktopSize="ColumnSize.ColGrow"
            MobileSize="ColumnSize.ColHide">

    </Column>
</Row>

@code {
    
    [Parameter, EditorRequired]
    public string Text { get; set; }
    
}