.spinner-wrapper{
    padding:var(--spacing-1);
}

.hero{
    font-size: 1.6rem;
    font-weight: 500;
    padding: var(--spacing-05);
}

.loader-38 {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    color: #FFF;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}
.loader-38:after, .loader-38:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(0, 0);
    background-color: #FFF;
    border-radius: 50%;
    -webkit-animation: animloader38 1s infinite ease-in-out;
    animation: animloader38 1s infinite ease-in-out;
}
.loader-38:before {
    background-color: #FF3D00;
    transform: scale(0.5) translate(-48px, -48px);
}

/* keyFrames */
@-webkit-keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}