.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 203;
    display: flex;
    justify-content: center;
    cursor: default;
}

.modal{
    margin:30px;
    height: auto;
    background-color:white;
    justify-content: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index:202;
    position: relative;
    text-align: left;
    max-width: calc(100vw - 20px);
}

.modal.xl {
    width: calc(100vw - 30px);
}

.modal.lg{
    width: 1000px;
}

.modal.md{
    width: 800px;
}

.modal.sm{
    width:600px;
}

.modal.xs{
    width:400px;
}

.modal .modal-body .modal-body-content{
    padding: 20px;
}

.modal .modal-footer{
    padding-top: 20px;
}

.modal-close-wrapper{
    position: absolute;
    top: 15px;
    right: 15px;
}