

@media(min-width: 768px)
{
    .split-layout {
        box-sizing: border-box;
        display: flex;
        height: 100%;
        min-height: calc(100vh - 100px);
        margin: 0 10px;
    }

    .split {
        padding: 0 10px;
    }

    /* Control the left side */
    .split.left {
        width: 400px;
        max-width: 400px;
        height: 100%;
        position: sticky;
        top: 40px;
        z-index: 2;
        margin-top: 10px;
    }

    .split.left.can-scroll {
        /* --- Used for LHS Scroll -- */
        height: calc(100vh - 100px);
        max-height: calc(100vh - 100px);
        overflow-y: scroll;
        overflow-x: hidden;
    }

    /* Control the right side */
    .split.right {
        box-sizing: border-box;
        width:100%;
        flex:1;
        margin:0 auto;
    }

    .split.content-container{
        background-color: white;
        box-shadow: 5px 11px 6px 7px rgb(0 0 0 / 0.2);
    }

    .split.right .content{
        height: 100%;
    }

    .content{
        position: relative;
    }
}
