@page "/headings"

<Container Size="ElementSize.Large"
           BackgroundColour="ElementColor.White"
           HasShadow="true">

    <div class="currency-input">
        <input type="text" placeholder="0.00">
    </div>
    
    <h1 class="underline">
            Go Support Portal
        </h1>
    
    <h2>
        Hi David Bogues, welcome to the Go Garage Support Portal
    </h2>
    
    <p>
        Below provides and overview of the release history of the Portal
    </p>
    
        <p>
            The gentle hum of the coffee shop filled the air as people bustled about, each lost in their own world. The aroma of freshly brewed coffee mixed with the scent of pastries and brought a sense of comfort to everyone present. Outside, the rain pattered softly against the windows, creating a rhythmic sound that added to the calm atmosphere inside. People chatted quietly, some buried in books, while others typed away on their laptops, creating a serene, almost meditative environment.
        </p>
        <p>
            The gentle hum of the coffee shop filled the air as people bustled about, each lost in their own world. The aroma of freshly brewed coffee mixed with the scent of pastries and brought a sense of comfort to everyone present. Outside, the rain pattered softly against the windows, creating a rhythmic sound that added to the calm atmosphere inside. People chatted quietly, some buried in books, while others typed away on their laptops, creating a serene, almost meditative environment.
        </p>
        <h1>
            Heading 1
        </h1>
        <p>
            The gentle hum of the coffee shop filled the air as people bustled about, each lost in their own world. The aroma of freshly brewed coffee mixed with the scent of pastries and brought a sense of comfort to everyone present. Outside, the rain pattered softly against the windows, creating a rhythmic sound that added to the calm atmosphere inside. People chatted quietly, some buried in books, while others typed away on their laptops, creating a serene, almost meditative environment.
        </p>
        <h1 class="underline">
            Heading 1
        </h1>
        <p>
            The gentle hum of the coffee shop filled the air as people bustled about, each lost in their own world. The aroma of freshly brewed coffee mixed with the scent of pastries and brought a sense of comfort to everyone present. Outside, the rain pattered softly against the windows, creating a rhythmic sound that added to the calm atmosphere inside. People chatted quietly, some buried in books, while others typed away on their laptops, creating a serene, almost meditative environment.
        </p>
        <h2>
            Heading 2
        </h2>
    <p>
        The gentle hum of the coffee shop filled the air as people bustled about, each lost in their own world. The aroma of freshly brewed coffee mixed with the scent of pastries and brought a sense of comfort to everyone present. Outside, the rain pattered softly against the windows, creating a rhythmic sound that added to the calm atmosphere inside. People chatted quietly, some buried in books, while others typed away on their laptops, creating a serene, almost meditative environment.
    </p>
        <h2 class="underline">
            Heading 2
        </h2>
        <p>
            The gentle hum of the coffee shop filled the air as people bustled about, each lost in their own world. The aroma of freshly brewed coffee mixed with the scent of pastries and brought a sense of comfort to everyone present. Outside, the rain pattered softly against the windows, creating a rhythmic sound that added to the calm atmosphere inside. People chatted quietly, some buried in books, while others typed away on their laptops, creating a serene, almost meditative environment.
        </p>
        <h3>
            Heading 3
        </h3>
        <p>
            The gentle hum of the coffee shop filled the air as people bustled about, each lost in their own world. The aroma of freshly brewed coffee mixed with the scent of pastries and brought a sense of comfort to everyone present. Outside, the rain pattered softly against the windows, creating a rhythmic sound that added to the calm atmosphere inside. People chatted quietly, some buried in books, while others typed away on their laptops, creating a serene, almost meditative environment.
        </p>
        <h4>
            Heading 4
        </h4>
        <p>
            The gentle hum of the coffee shop filled the air as people bustled about, each lost in their own world. The aroma of freshly brewed coffee mixed with the scent of pastries and brought a sense of comfort to everyone present. Outside, the rain pattered softly against the windows, creating a rhythmic sound that added to the calm atmosphere inside. People chatted quietly, some buried in books, while others typed away on their laptops, creating a serene, almost meditative environment.
        </p>
    
</Container>




@code {
    
}