@page "/navigation/builder"

<Container Size="ElementSize.ExtraLarge">
    
    <Row>
        <Column DesktopSize="ColumnSize.Col100"
                MobileSize="ColumnSize.Col100"
                Layout="ElementPosition.Left">
            <h1>Navigation Builder</h1>
        </Column>    
    </Row>
    
    <NavigationHeaderEditor />
    
    <NavigationColumnsEditor />
    
</Container>



@code {
    
}